streamlit
pandas
snowflake-connector-python
snowflake-snowpark-python
streamlit-aggrid
plotly
matplotlib
numpy==2.1.2
packaging==24.1
pillow==10.4.0
platformdirs==4.3.8
pyarrow==17.0.0
pycparser==2.22
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.10.1
pyOpenSSL==25.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2024.2
streamlit-sortables==0.3.1
tenacity==9.0.0
toml==0.10.2
tomlkit==0.13.3
urllib3==2.2.3

